body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    line-height: 1;
    font-weight: 500;
}

svg {
    min-height: 26.25px;
    min-width: 210px;
    display: block;
    height: 26.25px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 210px;
    x: 0px;
    y: 0px;
}

nav {
    padding: 15px 0px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
    text-align: left;
}

.one {
    background: url('https://archive.ph/IOYDm/79eebf0e9eb643e26b8f52693e72daa91292c8ed.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.two {
    background: url('https://archive.ph/IOYDm/4bc8db7b648fb7f58c5cfffa18b52a043ab44919.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.three {
    background: url('https://archive.ph/IOYDm/de5f2ff4a6023b63f9f25f2d2437c12352c09613.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.four {
    background: url('https://archive.ph/IOYDm/a3dd2e864af502dfadf01b3b768736ff49aadac3.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.five {
    background: url('https://archive.ph/IOYDm/4d0b5b20d962b0549ee634788232004ca24edfe6.webp');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.content {
    position: relative;
    top: 40vh;
    left: 40px;
    width: 60vb;
}

.subtitle {
    font-size: larger;
    padding-left: 5px;
}

.title {
    font-size: 40px;
    padding: 5px 5px 25px 5px;
}

.button {
    margin-left: 5px;
    border: rgb(255, 255, 255) solid 2px;
    text-align: center;
    padding: 15px 20px;
    width: 100px;
    font-size: 12px;
}

footer {
    padding: 50px;
    background: black;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
}
.copyright {
    color: grey;
    font-size: 12px;
}